.DS_Store
.AppleDouble
.LSOverride
DerivedData/
.build/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.swp
*.lock
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
**/Previews/**
.build/
Packages/
Package.resolved
Pods/
Carthage/Build/
*.store
*.store-shm
*.store-wal
default.store*
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.log
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.tmp
*.bak
*.old
*.orig
.env
.env.*
